<section class = 'd-flex flex-column mb-2 align-items-center'>
  <%= @inventory.name %>
  <div class='food-btn'>
    <%= link_to 'Add food', "/inventory_food/#{@inventory.id}/new", method: :post, class:'add-food'%>
  </div>
  <hr>
  <div class='table'>
    <table class = 'mb-2 align-items-center' >
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
      <% @inventory_food.each do |f| %>
      <tr>
        <td><%= f.food.name %></td>
        <td><%= f.quantity %> grams</td>
        <td><%= button_to 'Delete', "/users/#{current_user.id}/inventories/#{@inventory.id}/foods/#{f.food.id}/inventory_food/#{f.id}", method: :delete, class: "btn btn-outline-danger" %></td>
      </tr>
      <% end %>
    </table>
  </div>
</section>