<div class="container w-full p-4 b-2">
    <h2 class="text mb-4">Add an inventory food</h2>
    <%= form_with model: @inventory_food, url: "/inventory_foods/#{@inventory.id}/create",  local: true, data: {turbo:false} do |m| %>
        <div class="mb-3">
          <%= m.select :food_list, Food.order(:name).where(user_id:current_user.id).pluck(:name, :id), {}, {:multiple => true, required:true, class: "form-select mb-3"} %>
          <%= m.label :quantity, class: "form-label" %>
          <%= m.number_field :quantity %>
        </div>
        <%= m.submit class: "btn btn-primary" %>
    <% end %>
</div>
